body{
    --max-width: 1700px;
    --font-size-default: 16px;
    --font-family-default: Helvetica, Arial, sans-serif;
    --color-black: #000000;
    --color-text-default: #222020;
    --color-text-grey: #7a7a7a;
    --color-yellow: #ffde00;
    --color-white: #ffffff;
    --color-grey: #d4d4d4;
    --color-red: #d41111;
    --color-active: #9b0b0b;
    --color-theme-main: #056943;
}