.container {
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: var(--color-white);
    flex:1;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;font-size: 5rem;
}
.header>h1 {
    font-size: 3rem;
    margin: 1rem .3rem;
}
.header>h1:nth-child(2) {
    color: var(--color-red);
    border-bottom: 1px solid var(--color-red);
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem;
}
.container>p::first-letter {
    font-size: 1.1rem;
    color: var(--color-red);
}
.aboutContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 0;
}
.content{
    width: 66%;
    min-width: 500px;
    margin: .5rem;
    padding: .5rem 2rem .5rem .5rem;
}
.image{
    width: 33%;
    min-width:fit-content;
    max-width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.downloadContainer{
    color: var(--color-white);
    background-color: var(--color-red);
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    padding: 1rem 0;
}
.downloadContent{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 66%;
    min-width: 500px;
    margin: .5rem;
    padding: 1rem;
}
.downloadContent>h2{
    font-size: 1.8rem;
    padding: 1rem 0;
}
.downloadButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.downloadButtons>button{
    margin: .5rem;
    padding: .5rem;
    font-size: 1.3rem;
    color: var(--color-white);
    background-color: var(--color-red);
    border: 1px solid var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s, transform .3s;
}

.downloadButtons > button:hover {
    background-color: var(--color-active);
    transform: scale(1.06);
}
